<!-- <div class="footer">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <nav class="nav flex-column">
                    <a href="#">Active</a>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Skills</a>
                    <a href="#">Work</a>
                    <a href="#">Contact</a>
                </nav>
            </div>
            <div class="col images">
                <img class="img-responsive" src="assets/images/whatsapp.png">
                <img class="img-responsive" src="assets/images/instagram.png">
                <img class="img-responsive" src="assets/images/facebook.png">
                <img class="img-responsive" src="assets/images/twitter.png">
                <img class="img-responsive" src="assets/images/mail.png">
            </div>
        <hr>    
        </div>
    </div>
</div> -->
<div class="footer">
    <div class="images">
        <a href="https://wa.me/+916374073303" target="_blank"><img class="img-responsive" src="assets/images/whatsapp.png"></a>
        <a href="https://instagram.com/naveen._vemula?igshid=YmMyTA2M2Y=" target="_blank"><img class="img-responsive" src="assets/images/instagram.png"></a>
        <a href="https://www.facebook.com/naveen.vemula.1441" target="_blank"><img class="img-responsive" src="assets/images/facebook.png"></a>
        <a href="https://twitter.com/NaveenV75609208?t=qITguH38xzIriczQefC-6A&s=08" target="_blank"><img class="img-responsive" src="assets/images/twitter.png"></a>
        <a href="https://www.linkedin.com/in/naveen-vemula-3a3345192" target="_blank"><img class="img-responsive" src="assets/images/linkedin.png"></a>
        <hr>
    </div>
</div>