.about{
    padding: 2vw 2vw 2vw 2vw;
    margin-top: 3rem;
}
.about-title{
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    font-size:5rem;
    white-space: pre-wrap;
    margin-top: 0;
    margin-bottom: -1rem;
  }
  .content{
    padding-left: 1.5vw;
  }
